#item-cards {
  padding: 10px;
  margin: 10px 0px 25px 0px;

  .item-info{
    margin-left: 10px;
  }

  #learn-more{
    color: lightgray;
    color: lightgray;
    /* text-align: end; */
    align-self: self-end;
    margin-left: auto;
  }
}

.photo-card-img-top {
  height: 50px;
  width: 50px;
  object-fit: cover;
}

.show {
  color: $secondary_green;
  text-decoration: none;
}
