#item-cards {
  padding: 10px;

  .item-info{
    margin-left: 10px;
  }

  #learn-more{
    color: lightgray;
    color: lightgray;
    /* text-align: end; */
    align-self: self-end;
    margin-left: auto;
  }
}

.photo-card-img-top {
  border: 1px solid lightgray;
  height: 50px;
  width: 50px;
  object-fit: cover;
}
