.content-container{
  position: relative;
}

.container_main{
  margin: 5px;
}

h1 {
  font-size: 15px;
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  margin-top: 10px;
}

.progress-box {
/*   box-shadow: 0px 2px 10px #ececec;
 */  margin-bottom: 10px;
/*   background-color: hsl(0, 0%, 94%);
 */  border-radius: 10px;
  padding: 10px;
  background-color: white;
}

.progress-goal{
  border: 1px solid #4A702F;
  border-radius: 20px;
/*   box-shadow: 0 3px 3px $primary_green;
 */  height: 10px;
  margin: 10px 0px 10px 0px;

  .progress-line {
    height: 9px;
    background: linear-gradient(to right, #4A702F, #4A702F);
    border-radius: 5px;
    width: 100%;
    top: 0;
    left: 0;
  }
}

.card {
 padding: 5px;
 background: transparent;
 border-color: transparent;
 font-family: 'DM Sans', sans-serif;
}

.card-white {
  color: $secondary_green;
  background-color: $secondary_green;
  margin-bottom: 10px;
  padding: 7px;
}

.inner-card-white {
  background-color: white;
  margin-bottom: 10px;
/*   box-shadow: 0px 2px 10px $primary_green;
 */  border-radius: 10px;
  padding:10px;
}

.grid-card{
  /* background-image: url('grass.png');
  background-size: cover;
  background-size: auto; */
  padding: 20px;
  border-radius: 20px;
  height: 250px;
  border: 1px solid $primary_green;
}

.baum {
  width: 30px;
}

.chart-box {
  height: 250px;
  display: inline;
/*   background-color: white;*/
  border-radius: 0 0 0 0px;
  padding: 15px;
  display: inline-block;

  #chart-1{
    display: inline !important;
    height: auto;
  }

  canvas{
    display: block;
    box-sizing: border-box;
    height: 200px;
    width: 200px;
  }
}
