.footer{
  width: 100%;
  margin: 0 auto;
  bottom: 0px;
  display: flex;
  justify-content: space-around;
  background-color: $white;
  align-items: center;
  height: 60px;
  border-radius: 0px 0px 10px 10px;
  position: sticky;
  box-shadow: 2px 0px 0px $primary_green;
  img {
    height: 30px;
  }

  .symbol{
    color: $secondary_green;
    height: 30px;
  }
}

.camera {
/*   background-color: white;
 */  border-radius: 50%;
/*   border: 3px solid white;
 */  padding: 10px;
/*   box-shadow: 0 3px 3px $secondary_green;
 */}
