.image-tag {
  border: 1px solid red;
  width: 50px;    /* White background */
  padding: 30px;          /* Internal space */
  border-radius: 10px;   /* Small radius */
  width: 300px;         /* Set the width */
  margin: 0 auto;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
}
