.home-page {
  min-height: 100vh;
}

.image-tag {/* White background */
  padding: 30px;          /* Internal space */
  border-radius: 10px;   /* Small radius */
  width: 375px;         /* Set the width */
  margin: 0 auto;
  margin-top: 165px;
}
