.item-container{
  border: 1px solid lightgray;
  border-radius: 5px;
  margin: 5px;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
}

.map-container{
  border: 1px solid lightgray;
  border-radius: 5px;
  margin: 5px;
}
