.item-container{
  border: 1px solid lightgray;
  border-radius: 5px;
  max-width: 500px;
  margin: 10px;
  box-shadow: 5px 5px 5px rgba(0,0,0,.1);
}

.map-container{
  border: 1px solid lightgray;
  border-radius: 5px;
  max-width: 500px;
  margin: 10px;
  box-shadow: 5px 5px 5px rgba(0,0,0,.1);
}

.btn-info{
  background-color: #FA7070;
  color: white;
  border: 1px solid lightgray;
  border-radius: 5px;
}

.waste-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
}
