<div class="button-box">
  <%= image_tag "camera-button", class: "", alt: "camera" %>
  <%= image_tag "search-button", class: "", alt: "camera" %>
  <%= image_tag "home-button", class: "", alt: "camera" %>
</div>
