<div class="footer">
  <div>
    <%= image_tag "home", class: "", alt: "home button" %>
  </div>
  <div class="camera">
      <%= image_tag "camera", class: "", alt: "camera" %>
  </div>
  <div>
    <a href=root_path class="">

      <%= image_tag "search", class: "", alt: "search button" %>
    </a>
  </div>
</div>
