<div class="box-green">
  <h1>Waste Wise Your Eco-Friendly Companion</h1>
  <h2>Why Choose Waste Wise?</h2>
</div>

<div class="container">
  <div class="box-white">
    <strong>Sustainable Living:</strong>
    <p>Join a community commited to a greater planet.</p>
  </div>

  <div class="box-white">
    <strong>Effortless Disposal:</strong>
    <p>Snap, navigate, dispose - its that simple!</p>
  </div>

  <div class="box-white">
    <strong>Earn Rewards:</strong>
    <p>Every responsible action earns you exciting rewards.</p>
  </div>
</div>

<img src="" alt="" />

<div class="container">
  <div class="box-white-1">
    <strong>Capture or Search:</strong>
    <p>Snap a pic or search for your waste item.</p>
  </div>

  <div class="box-white-1">
    <strong>Instant Identification:</strong>
    <p>Our snmart system catewgorizes your waste instantly</p>
  </div>

  <div class="box-white-1">
    <strong>Find Nearby Bins:</strong>
    <p>Locate the nearest disposal locations.</p>
  </div>
</div>

<div class="box-white-1">
    <strong>Earn Rewards:</strong>
    <p>Every disposal earns you points for cool rewards.</p>
  </div>
</div>
