<h1>Dashboard</h1>
<div class="dash-card">
  <%# <h1>You disposed</h1> %>
  <a href="#" class="link" data-bs-toggle="modal" data-bs-target="#exampleModal">
    <%= pie_chart(@bin_types_count, title: "You disposed", colors: ["#8A584C", "#34AD0A", "#FFD50B"], donut: true) %>
  </a>
</div>

<h1>You saved g/kWh CO2 - Emissions</h1>
<div data-controller="shuffle">
  <div class="grid-card" data-shuffle-target="grid">
    <% @disposal_records.count.times do%>
      <div class="card" data-shuffle-target="card">
        🌲
      </div>
    <%end%>
    <% (50-@disposal_records.count).times do%>
      <div class="card" data-shuffle-target="card">
        <p></p>
      </div>
    <%end%>
  </div>
  <div data-action="click->shuffle#shuffleCards">
    <p>Reshuffle Threes</p>
  </div>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel"> title </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <% @disposal_records[0..3].each do |disposal_record|%>
        <p>
          <%= disposal_record.waste_item.name%>
          <%= disposal_record.waste_item.category.name%>
        </p>
        <%end%>
      </div>
      <div class="modal-footer">
        <%# <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> %>
         <%= link_to "See all", waste_items_path, class:"link button" %>
      </div>

   </div>
  </div>
</div>
