<div class="page" style="height: 100vh;">
  <div class="container-team">
    <h1>Meet the Wise Team 🌎</h1>

    <div class="avatars">
      <div id="right" class="avatar-block">
        <div class="text">
          <strong>Emma Preysing</strong>
          <p> Some placholder for a short introduction sentence 🇱🇻</p>
        </div>
        <%= image_tag "https://avatars.githubusercontent.com/u/93532430?v=4", class: "avatar", alt: "Emma" %>
      </div>

      <div class="avatar-block">
        <%= image_tag "https://avatars.githubusercontent.com/u/138381144?v=4", class: "avatar", alt: "Alexandra" %>
        <div class="text">
          <strong>Alexandra Holz</strong>
          <p> Some placholder for a short introduction sentence 🇩🇪</p>
        </div>
      </div>

      <div id="right" class="avatar-block">
        <div class="text">
          <strong>Tony Figueira</strong>
          <p> Some placholder for a short introduction sentence 🇦🇴</p>
        </div>
        <%= image_tag "https://avatars.githubusercontent.com/u/117378193?v=4", class: "avatar", alt: "Shub" %>
      </div>

      <div class="avatar-block">
        <%= image_tag "https://res.cloudinary.com/wagon/image/upload/c_fill,g_face,h_200,w_200/v1696589253/dpgkboy3f87pysm3f6k2.jpg", class: "avatar", alt: "Tony" %>
        <div class="text">
          <strong>Shubham Gautam</strong>
          <p> Some placholder for a short introduction sentence 🇮🇳</p>
        </div>
      </div>
    </div>
  </div>
</div>
