.navbar-lewagon {
  color: black;
  justify-content: space-between;
  background: white;
  border-width: 80%;
  border-radius: 10px 10px 0 0;
  height: 60px;
}

.nav-link{
  color: white;
  font-family: 'Libre Baskerville', serif;
}

.nav-link:hover{
  font-weight: 650;
  color: red;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 30px;
  border-radius: 50%;
}

.navbar-brand{
  color: black;
  font-size: 16px;
}
