.navbar-lewagon {
  color: $secondary_green;
  justify-content: space-between;
  background: white;
  border-width: 80%;
  border-radius: 10px 10px 0px 0px;
  height: 60px;
  top: 0;
/*   position: fixed;*/
width: 100%;
  margin-bottom: 10px;
}

.nav-link{
  color: white;
  font-family: 'Libre Baskerville', serif;
}

.nav-link:hover{
  font-weight: 650;
  color: red;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 30px;
  border-radius: 50%;
}

.navbar-brand{
  color: $secondary_green;
  font-size: 16px;
  width: 30px;
}
