<div data-controller="camera">
  <%= simple_form_for [current_user, @waste_item], data: {camera_target: "simpleform"}, html: {multipart: true} do |f| %>
  <%= f.input :name %>
  <% end %>

<input
        id="cameraFileInput"
        type="file"
        accept="image/*"
        capture="environment"
        data-action="change->camera#upload"
      />
    </label>

    <img data-camera-target="picture" id="pictureFromCamera" />

</div>


