<div class="popup">
  <h2><%= location.name %></h2>
  <%= link_to "https://www.google.de/maps/search/#{location.address.split[0..1].join(" ").chomp(".") }", target: "_blank" do %>
    <p><%=  location.address.split[0..1].join(" ").chomp(".") %></p>
    <p><%=  location.address.split[2..3].join(" ") %></p>
  <% end %>

</div>
