<%= simple_form_for :search, url: root_path, method: :get do |f| %>
  <div class="search-form-control form-group">
    <input class="form-control string required" type="text" style="border-radius: 50px" name="search[query]" id="search_query" placeholder="Search for waste item" />
    <button name="button" type="submit" class="btn btn-info">
      <i class="fas fa-search"></i> Search
    </button>
  </div>
<% end %>

<div class="card-product">

   <img src="https://media.istockphoto.com/id/1438630211/de/foto/unordentliche-m%C3%BCllcontainer.jpg?s=612x612&w=0&k=20&c=LpOEuh6uWfgCiff0fDOm5GB6QXp0Xr6dsfcV_TFpUoE=" />
  <div class="card-product-infos">
    <h2>Black household Waste bin</h2>
    <p>Bin for residual waste that cannot be recycled, encompassing items like hygiene products and tissues, providing a disposal solution for non-recyclable household waste</p>
  </div>
</div>

<div class="card-product">
  <img src="https://images.unsplash.com/photo-1621496654772-c66c48290259?q=80&w=3540&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" />
  <div class="card-product-infos">
    <h2>Organic waste bin</h2>
    <p>Bin designated for organic waste, including fruit/vegetable leftovers, peelings, coffee grounds, tea, eggshells, and green cuttings, fostering composting practices</p>
  </div>
</div>

<div class="card-product">
  <img src="https://media.istockphoto.com/id/1196032483/de/foto/eine-weibliche-hand-die-m%C3%BClls%C3%A4cke-in-den-m%C3%BCll-aus-einem-auto-h%C3%A4lt-umweltverschmutzung.jpg?s=612x612&w=0&k=20&c=u-RpY2JpQFZgIJ5YZHRSjDGYTpptQepmSIxhOc9qTFA=" />
  <div class="card-product-infos">
    <h2>Yellow recycling bin</h2>
    <p>Container for recyclable items, such as plastic, pots, tools, cutlery, foam materials, and metal containers, promoting environmentally friendly waste disposal</p>
  </div>
</div>

<div class="card-product">
  <img src="https://media.istockphoto.com/id/118117987/photo/recycling-container-with-crumpled-paper.webp?b=1&s=170667a&w=0&k=20&c=5TS60TcnQjbglYU_BLNXIEZq2aSoCCfhZhxoRcJXQ60=" />
  <div class="card-product-infos">
    <h2>Blue paper bin</h2>
    <p>Container for paper and cardboard items, encompassing packaging, newspapers, magazines, catalogs, writing/printing paper, and cardboard, supporting paper recycling efforts</p>
  </div>
</div>

<div class="card-product">
  <img src="https://images.unsplash.com/photo-1620676524838-7017c424120e?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Z2xhc3MlMjByZWN5Y2xpbmclMjBiaW58ZW58MHx8MHx8fDA%3D" />
  <div class="card-product-infos">
    <h2>Glass recycling bins</h2>
    <p>Dedicated bin for glass items, including jars, bottles, and any other glass materials, facilitating the recycling process for glass products</p>
  </div>
</div>

<div class="card-product">
  <img src="https://media.istockphoto.com/id/1201479801/photo/bulky-waste-on-the-road.webp?b=1&s=170667a&w=0&k=20&c=BbGFwmZiLzdlzC5zbcE2zuS-JcAmPXJ9VcWoup5r47s=" />
  <div class="card-product-infos">
    <h2>Bulky waste</h2>
    <p>Bin designed for bulky residual waste that cannot be recycled, such as carpets, timber, and electrical devices, ensuring proper disposal of larger non-recyclable items</p>
  </div>
</div>


<div class="map-container">
  <div style="width: 100%; height: 600px;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
</div>
