<%= @waste_item.name %>

<div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @waste_item.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
